git+https://github.com/adsabs/ADSMicroserviceUtils.git@v1.0.3
Flask==0.12
Flask-RESTful==0.3.5
Flask-SQLAlchemy==2.2
Flask-Testing==0.6.1
SQLAlchemy==1.1.6
Werkzeug==0.11.15
alembic==0.8.9
flask-discoverer==0.0.2
psycopg2==2.6.2
requests==2.12.4
simplejson==3.10.0
